@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Press+Start+2P&family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,700&family=Roboto:wght@100;300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  border: none;
}

body {
  height: 100vh;
  background: url("~/src/assets/imgs/Bg.jpg") no-repeat;
  display: flex;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
}
